html, body {
	margin: 0; 
	height: 100%; 
	width: 100%;
	overflow: hidden;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.top {
	display:flex;
	position: relative;
	left: 5px;
	height: 300px;
}
.bottom {
	display:flex;
	position: relative;
	top: -5px;
	left: 2.5px;
	height:340px;
}

.bathroom {
	width:350px;
	text-align: center;
}

.entrance {
	width:400px;	
	left: -5px;
}

.kitchen {
	width:520px;
	left: -10px;
}



.bedroom {
	width:400px;
}

.living_room {
	width:875px;
	left: -5px;
}

.room {
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
	border-style: inset;
	border-width: 5px;
	border-color: black;

}

.settings {
	width:210px;
	height:190px;
	border-style: solid;
	border-width:5px;
	border-color: black;
	border-radius:20px;

	display:flex;
	flex-direction: column;
	align-items: center;

	z-index: 1;
}

.title {
	padding-top: 5px;
	font-family: "Ubuntu";
	font-size: 24px;
}

.setting {
	align-self: start;
	padding-top: 16px;
	padding-left: 10px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1.5;
}

.setting_text {
	font-family: "Ubuntu";
	font-size: 24px;
	user-select: none;
}



.circle {
	position: absolute; 
	/*position: relative;*/
	width: 28px; 
	height: 28px; 
	border-radius: 100%; 
	border: solid 3px black;
	margin-top: -2.5px;
	z-index: 2;
}

.vertical_line {
	position: absolute;
	top: 4px;
	left: 12px;
	width: 4px;
	height: 20px;
	background-color: black;
}	

.horizontal_line {
	position: relative;
	top: 12px;
	left: 4px;
	width: 20px;
	height: 4px;
	background-color: black;
}

.plus {
	right: 90px;
}

.minus {
	right: 190px;
}

.measurement {
	position: absolute;
	right: 130px;
}

.door_square {
	position: absolute;
	background-color: white;
	z-index: 1;
	background-color: white;
}

.vertical_door_square {
	width: 5px;
	height: 100px;
	right: -5px;
}

.horizontal_door_square {
	width: 100px;
	height: 5px;
}

.door {
	position: absolute;
	background-color: #8B4513;
	transform: rotate(15deg);
}

.vertical_door {
	height: 100px;
	width: 5px;
	left: -13px;
}


.horizontal_door {
	height: 5px;
	width: 100px;
	top: 13px;
}

.entrance_door_square {
	top: -5px;
}

.living_room_door_square {
	top: -5px;
	left: 100px;
}

.kitchen_door_square {
	bottom: -5px;
}

.kitchen_door {
	top: -13px;
	transform: rotate(-15deg);
}











.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  left:60px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .2s;
}

input:checked + .slider {
  background-color: yellow;
  /*#2196F3;*/
}

input:focus + .slider {
  box-shadow: 0 0 1px yellow;
  /*#2196F3;*/
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}