.main-window {
	padding: 20px;
	margin: auto;
	/*background-color: black;*/
}

body {
	background-color: black;
	color: white;
}

.wdb-nav-card {
	margin-bottom: 15px;
	margin-top: 15px;
	/*background-color: gray;*/
	text-align: center;
	border-style: solid;
}


.wdb-nav-card:hover {
	background-color: gray;
}

.main-card-wdb {
	background-color: black;
}
